@page "{SelectedDate?}"
@model laundry.Pages.timeslot.IndexModel



@{ ViewData["Title"] = "Index"; }

<p>
</p>

<div class="text-center">
    <h1 class="display-4">Laundry Schedule</h1>

</div>

<p>
    <a class="btn btn-primary" asp-page="Create">Book new</a>
</p>


<form>
    <p>
        Select date: <input onchange="this.form.submit()" min="2021-04-01" type="date" asp-for="SelectedDate" />
    </p>
</form>


<div class="mt-4 container">
    <div class="mt-5 mb-5 row">
        <div class="container">
            @{
                string day = "";

                if (!string.IsNullOrWhiteSpace(Model.SelectedDate)){
                    day = Model.SelectedDate;
                }
                else
                {
                    day = DateTime.Now.ToString("yyyy-MM-dd");
                }
            }
            <h2>Schedule: @day </h2>
        </div>
    </div>
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Laundry Machine
                </th>
                <th>
                    Booked Time Slot
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @*@{ IEnumerable<laundry.Models.TimeSlotModel> schedule = Model.TimeSlotModel.Where(s => s.timeslot.Date.ToString("dd MMMM yyyy") == Model.SelectedDate); }*@

            @foreach (var item in Model.TimeSlotModel)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lm)
    </td>
    <td>
        @*@Html.DisplayFor(modelItem => item.timeslot)*@
        @item.timeslot.ToString("HH:mm") to  @item.timeslot.AddHours(1).AddMinutes(30).ToString("HH:mm")
    </td>

    <td>
        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
        @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |*@
        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function () {
        $('#myTable').DataTable();
});


</script>
